<div class="container">

    <h1>Lista de usuarios</h1>

    {{#each user}}
    <h3>{{username}}</h3>
    <button class="nav-link"><a href="users/{{id}}">PERFIL</a></button>
    <hr>
    {{/each}}

</div>