<div class="container">

    <h1>Partidos disponibles</h1>

    <hr>

    {{#each matches}}
    <p>{{../date1}}</p>
    <p>{{../date2}}</p>

    <div class="buttons">
        <a href="/matches/match-details/{{id}}" class="btn btn-dark">Ver detalles de partido</a>
    </div>
    <hr>
    {{/each}}



</div>