<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Crear Partido</h1>

            <hr>

            <form action="/matches/create" method="POST">

                <div class="mb-3">
                    <label for="startTime" class="form-label">Inicio del partido</label>
                    <input type="datetime-local" class="form-control" id="startTime" name="startTime" value="" required>
                </div>
                <div class="mb-3">
                    <label for="endTime" class="form-label">Finalización del partido</label>
                    <input type="datetime-local" class="form-control" id="endTime" name="endTime" value="" required>
                </div>
                <div class="mb-3" hidden>
                    <label class="form-label">Latitud:</label>
                    <input type="text" class="form-control" id="lat" name="lat">
                </div>
                <div class="mb-3" hidden>
                    <label class="form-label">Longitud:</label>
                    <input type="text" class="form-control" id="lng" name="lng">
                </div>
                <div>

                    <p>Selecciona la ubicación del partido:</p>
                    <figure id="myMap"></figure>

                </div>

                <button type="submit" class="btn btn-dark">Crear</button>
            </form>


            <hr>


        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/matches-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTfrEJjFOyJQ3p3WbSYP0yNoasqELJNFY&callback=initMap"></script>