body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#myMap {
  width: 550px;
}

#myMarkerMap {
  background-color: red;
  width: 550px;
}